extends templates/head

block append links
    link(rel='stylesheet' href='/static/stylesheets/login.css')

block append scripts
    script(src='/static/js/login.js')

block content
    main
        header
            h1 Log in
        form#loginForm
            label(for='email') Email:
                input(type='email' required=true)#email
            label(for='password') Password:
                input(type='password' required=true)#password
            button(type='submit') Login
            a(href='/login/remind') Forgot your password?
        footer